@import '../../style/colors.scss';
@import '../../style/neon.scss';
@import '../../style/animation.scss';

.canvas,
.layer,
.navigation,
.layer_content,
.neon,
.neon_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    .navigation {
        z-index: 100;
        position: absolute;
        top: 0;
        height: 10vh;
        width: 100%;

        .nav_cont {
            width: 100%;
            padding: 0 30px;
            display: flex;
            justify-content: end;
        }
    }
}

.canvas {
    position: relative;
    height: 100vh;

    .layer_content {
        height: 100vh;
        margin-right: 22vw;
        padding: 5vh 5vw;
        position: absolute;
    }

    .layer {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-position: center;
        background-size: cover;
        pointer-events: none;
    }

    .layer_back {
        background-image: url("/img/main/back.jpg");
    }

    .layer_bridge {
        background-image: url("/img/main/bridge.png");
    }

    .layer_left_building {
        background-image: url("/img/main/left_building.png");
    }

    .layer_right_building {
        background-image: url("/img/main/right_building.png");
    }

    .layer_roof {
        background-image: url("/img/main/roof.png");
    }
}

.slum {
    position: relative;
    height: 100vh;
    background: url('/img/main/slum2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .neon {
        position: relative;
        height: 100vh;
        background: rgba(0, 0, 0, .5);

        &_block {
            width: 350px;
            height: 150px;
        }
    }
}